# Required Vault Configuration
VAULT_ENDPOINT=your-vault-endpoint  # URL of your Vault server
VAULT_TOKEN=your-vault-token        # Token for Vault authentication
VAULT_KV_STORE=secret               # KV store path in Vault

# Required AWS Configuration
AWS_REGION=us-east-1                # AWS region
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_SECRET_NAME=my-aws-secret       # Name of the AWS secret in Secrets Manager
ECS_TASK_DEFINITION=my-ecs-task     # ECS task definition name

VAULT_SECRET_PATH_1=                # (Required) The first path to the secret in Vault (This is alway required)

# Optional Additional Secrets Configuration
# You can add up to 3 additional secrets
CONTAINER_NAME_1=                   # (Optional) Container name for second secret
VAULT_SECRET_PATH_2=                # (Optional) Path to third secret in Vault
CONTAINER_NAME_2=                   # (Optional) Container name for third secret
VAULT_SECRET_PATH_3=                # (Optional) Path to fourth secret in Vault
CONTAINER_NAME_3=                   # (Optional) Container name for fourth secret

# Optional Sync Configuration
CHECK_INTERVAL=60                   # (Optional) Interval in seconds for checking updates, default 60